name: number_field
description: "A Flutter package that provides a custom number input field with a dedicated number keyboard, smart formatting, locale support, and seamless form integration."
version: 1.1.0
homepage: https://github.com/tuyennvt/number_field

environment:
  sdk: ^3.5.3
  flutter: ">=3.24.3"

dependencies:
  flutter:
    sdk: flutter
  intl: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: any

flutter: